<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="aquilesConfiguration" type="Aquiles.Core.Configuration.AquilesConfigurationSection,Aquiles.Core"/>
  </configSections>
  <system.diagnostics>
    <trace autoflush="true" indentsize="2">
      <listeners>
        <remove name="Default"/>
        <add name="myListener"
          type="System.Diagnostics.TextWriterTraceListener"
          initializeData="d:\trace.log" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>