<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="aquilesConfiguration" type="Aquiles.Core.Configuration.AquilesConfigurationSection,Aquiles.Core"/>
    
  </configSections>
  <aquilesConfiguration>
    <!--<loggingManager>Aquiles.Test.Logging.Logger,Aquiles.Test</loggingManager>-->
    <clusters>
      <add friendlyName="Test Cluster">
        <connection poolType="SIZECONTROLLEDPOOL" factoryType="FRAMED" />
        <endpointManager type="ROUNDROBIN" defaultTimeout="6000">
          <cassandraEndpoints>
            <add address="localhost" port="9160"/>
          </cassandraEndpoints>
        </endpointManager>
      </add>
      <!--<add friendlyName="TestCluster2">
        <connection poolType="SIZECONTROLLEDPOOL" factoryType="FRAMED">
          <specialConnectionParameters>
            <add key="minimumClientsToKeepInPool" value="20" />
            <add key="maximumClientsToSupportInPool" value="1000" />
            <add key="magicNumber" value="7" />
          </specialConnectionParameters>
        </connection>
        <endpointManager type="ROUNDROBIN" defaultTimeout="3000">
          <cassandraEndpoints>
            <add address="localhost" port="9160"/>
            <add address="darwin" port="9160" timeout="9000"/>
          </cassandraEndpoints>
        </endpointManager>
      </add>-->
    </clusters>
  </aquilesConfiguration>  
  
  

</configuration>
