<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="aquilesConfiguration" type="Aquiles.Configuration.AquilesConfigurationSection,Aquiles"/>
  </configSections>
  <aquilesConfiguration>
    <loggingManager>Aquiles.Test.Logging.Logger,Aquiles.Test</loggingManager>
    <clusters>
      <add friendlyName="Keyspace1">
        <connection poolType="SIZECONTROLLEDPOOL" factoryType="BUFFERED">
          <specialConnectionParameters>
            <add key="minimumClientsToKeepInPool" value="20" />
            <add key="maximumClientsToSupportInPool" value="1000" />
            <add key="magicNumber" value="7" />
            <add key="transportBufferSize" value="5000" />
            <add key="maximumRetriesToPollClient" value="3" />
          </specialConnectionParameters>
        </connection>
        <endpointManager type="ROUNDROBIN" defaultTimeout="6000">
          <cassandraEndpoints>
            <add address="localhost" port="9160"/>
          </cassandraEndpoints>
        </endpointManager>
      </add>
    </clusters>
  </aquilesConfiguration>
  <system.diagnostics>
    <trace autoflush="true" indentsize="2">
      <listeners>
        <remove name="Default"/>
        <add name="myListener"
          type="System.Diagnostics.TextWriterTraceListener"
          initializeData="d:\trace.log" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>